<a href="https://colab.research.google.com/github/fajarmuslim/bayes-decision-rule/blob/master/Bayes_Decision_Rule_Fish_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Created by :

Fajar Muslim

13517149

# 1. Task to create csv file

Data created from figure 1.3 in this book

R. Duda, P. Hart, and D. Stork, Pattern Classification, 2nd ed. John Wiley & Sons, 2001

The file is saved on my github account

In [ ]:
#retrieve file from github
!git clone https://github.com/fajarmuslim/dataset.git

Cloning into 'dataset'...
remote: Enumerating objects: 240, done.
remote: Counting objects: 100% (240/240), done.
remote: Compressing objects: 100% (238/238), done.
remote: Total 240 (delta 1), reused 236 (delta 0), pack-reused 0
Receiving objects: 100% (240/240), 4.90 MiB | 3.85 MiB/s, done.
Resolving deltas: 100% (1/1), done.

In [ ]:
#data processing
import pandas as pd

#read dataset
data = pd.read_csv("dataset/Dataset_Fish_Classification.csv")

In [ ]:
data

   lightness  countSalmon  countSeaBass
0      0-0.5            0             0
1      0.5-1            2             0
2      1-1.5            8             0
3      1.5-2            4             0
4      2-2.5            7             0
5      2.5-3           10             0
6      3-3.5           12             0
7      3.5-4            8             1
8      4-4.5            6             0
9      4.5-5            8             3
10     5-5.5            4             3
11     5.5-6            3             4
12     6-6.5            1             6
13     6.5-7            1             5
14     7-7.5            0            12
15     7.5-8            0             9
16     8-8.5            0             9
17     8.5-9            0             2
18     9-9.5            0             1
19    9.5-10            0             2

# Calculate P(kelas) and P(x|kelas)

### Formula of Prior Probability

Prior probability

P(ωi)= Ni /sigma(Ni)

In [ ]:
#number of salmon labels in dataset
n_salmon = data['countSalmon'].sum()
n_salmon

74

In [ ]:
#number of seabass labels in dataset
n_seabass = data['countSeaBass'].sum()
n_seabass

57

In [ ]:
#number of total label in dataset
total_fish = n_salmon + n_seabass
total_fish

131

## P(salmon)

In [ ]:
#P(salmon)
P_salmon = n_salmon / total_fish
P_salmon

0.5648854961832062

## P(Seabass)

In [ ]:
#P(seabass)
P_seabass = n_seabass / total_fish
P_seabass

0.4351145038167939

## Formula of Conditional Probability

Conditional probability density

P(x|ωi)=P(x,ωi)/P(ωi)

P(x|ωi)=count(x, ωi)/Ni

## P(x=lightness | w=salmon)

In [ ]:
data['P(x=lightness | w=salmon)'] = data['countSalmon'] / n_salmon

## P(x=lightness | w=seabass)

In [ ]:
data['P(x=lightness | w=seabass)'] = data['countSeaBass'] / n_seabass

# Bayes decision rule berbasis maximum posterior probability

## Formula of posterior conditional probability

P(ωi|x) → P(x|ωi).P(ωi)

In [ ]:
data['P(w=salmon | x=lightness)'] = data['P(x=lightness | w=salmon)'] * P_salmon

In [ ]:
data['P(w=seabass | x=lightness)'] = data['P(x=lightness | w=seabass)'] * P_seabass

## Formula of Decision rule in max posterior probability

if P(x|ω1).P(ω1) > P(x|ω2).P(ω2):       

decide ω1

else:

decide ω2

## Deciding class based on max posterior probability

In [ ]:
temp = []
for i in range(len(data)):
  if(data['P(w=salmon | x=lightness)'][i]>=data['P(w=seabass | x=lightness)'][i]):
    temp.append("salmon")
  else:
    temp.append("seabass")

In [ ]:
data['predicted class max posterior'] = temp

In [ ]:
data

   lightness  ...  predicted class max posterior
0      0-0.5  ...                         salmon
1      0.5-1  ...                         salmon
2      1-1.5  ...                         salmon
3      1.5-2  ...                         salmon
4      2-2.5  ...                         salmon
5      2.5-3  ...                         salmon
6      3-3.5  ...                         salmon
7      3.5-4  ...                         salmon
8      4-4.5  ...                         salmon
9      4.5-5  ...                         salmon
10     5-5.5  ...                         salmon
11     5.5-6  ...                        seabass
12     6-6.5  ...                        seabass
13     6.5-7  ...                        seabass
14     7-7.5  ...                        seabass
15     7.5-8  ...                        seabass
16     8-8.5  ...                        seabass
17     8.5-9  ...                        seabass
18     9-9.5  ...                        seabass
19    9.5-10  ...                        seabass

[20 rows x 8 columns]

# Bayes decision rule berbasis minimum risk

## Lost Function

|        | salmon | seabass |
|--------|--------|---------|
| alpha_1 | 0      | 1       |
| alpha_2 | 1      | 0       |

## Assign epsilon on P(x|w) = 0

In [ ]:
EPSILON = 0.00001
def change_0_with_epsilon(value):
  if(value==0):
    return EPSILON
  else:
    return value

In [ ]:
data['P(x=lightness | w=salmon)'] = data['P(x=lightness | w=salmon)'].apply(change_0_with_epsilon)
data['P(x=lightness | w=seabass)'] = data['P(x=lightness | w=seabass)'].apply(change_0_with_epsilon)

## Likelihood ratio

## Formula likelihood ratio
likelihood_ratio = P(x|w1)/P(x|w2)

In [ ]:
data["LR"] = data['P(x=lightness | w=salmon)'] / data['P(x=lightness | w=seabass)']

## Treshold

## Formula of treshold

treshold = (lost_alpha_1_seabass-loss_alpha_2_seabass).P(seabass) / (lost_alpha_2_salmon-loss_alpha_1_salmon).P(salmon)

In [ ]:
treshold = ((1-0)*P_seabass) / ((1-0)*P_salmon)
treshold

0.7702702702702702

## Deciding class of based on minimum risk

In [ ]:
temp = []
for i in range(len(data['LR'])):
  if(data['LR'][i]>treshold):
    temp.append("salmon")
  else:
    temp.append("seabass")

In [ ]:
data['predicted class minimum risk'] = temp

# Final Result

In [ ]:
data

   lightness  countSalmon  ...            LR  predicted class minimum risk
0      0-0.5            0  ...      1.000000                        salmon
1      0.5-1            2  ...   2702.702703                        salmon
2      1-1.5            8  ...  10810.810811                        salmon
3      1.5-2            4  ...   5405.405405                        salmon
4      2-2.5            7  ...   9459.459459                        salmon
5      2.5-3           10  ...  13513.513514                        salmon
6      3-3.5           12  ...  16216.216216                        salmon
7      3.5-4            8  ...      6.162162                        salmon
8      4-4.5            6  ...   8108.108108                        salmon
9      4.5-5            8  ...      2.054054                        salmon
10     5-5.5            4  ...      1.027027                        salmon
11     5.5-6            3  ...      0.577703                       seabass
12     6-6.5            1  ...      0.128378                       seabass
13     6.5-7            1  ...      0.154054                       seabass
14     7-7.5            0  ...      0.000048                       seabass
15     7.5-8            0  ...      0.000063                       seabass
16     8-8.5            0  ...      0.000063                       seabass
17     8.5-9            0  ...      0.000285                       seabass
18     9-9.5            0  ...      0.000570                       seabass
19    9.5-10            0  ...      0.000285                       seabass

[20 rows x 10 columns]